/.gradle/6.6.1/executionHistory/executionHistory.bin
/.gradle/6.6.1/executionHistory/executionHistory.lock
/.gradle/6.6.1/fileChanges/last-build.bin
/.gradle/6.6.1/fileContent/fileContent.lock
/.gradle/6.6.1/fileHashes/fileHashes.bin
/.gradle/6.6.1/fileHashes/fileHashes.lock
/.gradle/6.6.1/fileHashes/resourceHashesCache.bin
/.gradle/6.6.1/javaCompile/classAnalysis.bin
/.gradle/6.6.1/javaCompile/jarAnalysis.bin
/.gradle/6.6.1/javaCompile/javaCompile.lock
/.gradle/6.6.1/javaCompile/taskHistory.bin
/.gradle/6.6.1/gc.properties
/.gradle/configuration-cache/gc.properties
/Encryption-Decryption/task/build/tmp/compileJava/source-classes-mapping.txt
/Encryption-Decryption/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Encryption-Decryption/task/build/tmp/test/jar_extract_1430473236129511308_tmp
/Encryption-Decryption/task/build/tmp/test/jar_extract_4607971734008867922_tmp
/Encryption-Decryption/task/build/tmp/test/jar_extract_10408795700200201574_tmp
/Encryption-Decryption/task/build/tmp/test/jar_extract_10431593553436685277_tmp
/Encryption-Decryption/task/build/tmp/test/jar_extract_12240673016079606775_tmp
/Encryption-Decryption/task/build/tmp/test/jar_extract_15492642730859708159_tmp
/Encryption-Decryption/task/output.txt
/Problems/Account/src/Main.java
/Problems/Account/task.html
/Problems/Account/task-info.yaml
/Problems/Account/task-remote-info.yaml
/Problems/Adding values/src/Main.java
/Problems/Adding values/task.html
/Problems/Adding values/task-info.yaml
/Problems/Adding values/task-remote-info.yaml
/Problems/Advanced calculator/src/Main.java
/Problems/Advanced calculator/src/Solution.java
/Problems/Advanced calculator/task.html
/Problems/Advanced calculator/task-info.yaml
/Problems/Advanced calculator/task-remote-info.yaml
/Problems/Application as a class/src/Main.java
/Problems/Application as a class/task.html
/Problems/Application as a class/task-info.yaml
/Problems/Application as a class/task-remote-info.yaml
/Problems/Army/src/Main.java
/Problems/Army/task.html
/Problems/Army/task-info.yaml
/Problems/Army/task-remote-info.yaml
/Problems/Avoid division by zero/src/Main.java
/Problems/Avoid division by zero/task.html
/Problems/Avoid division by zero/task-info.yaml
/Problems/Avoid division by zero/task-remote-info.yaml
/Problems/Basic calculator/src/Main.java
/Problems/Basic calculator/task.html
/Problems/Basic calculator/task-info.yaml
/Problems/Basic calculator/task-remote-info.yaml
/Problems/Binary search/src/Main.java
/Problems/Binary search/task.html
/Problems/Binary search/task-info.yaml
/Problems/Binary search/task-remote-info.yaml
/Problems/Book/src/Main.java
/Problems/Book/task.html
/Problems/Book/task-info.yaml
/Problems/Book/task-remote-info.yaml
/Problems/Catching some exceptions/out/production/classes/Main.class
/Problems/Catching some exceptions/src/Main.java
/Problems/Catching some exceptions/task.html
/Problems/Catching some exceptions/task-info.yaml
/Problems/Catching some exceptions/task-remote-info.yaml
/Problems/Classes for Hospital/src/Main.java
/Problems/Classes for Hospital/task.html
/Problems/Classes for Hospital/task-info.yaml
/Problems/Classes for Hospital/task-remote-info.yaml
/Problems/Complex/src/Main.java
/Problems/Complex/task.html
/Problems/Complex/task-info.yaml
/Problems/Complex/task-remote-info.yaml
/Problems/Converting and multiplying/out/production/classes/Main.class
/Problems/Converting and multiplying/src/Main.java
/Problems/Converting and multiplying/task.html
/Problems/Converting and multiplying/task-info.yaml
/Problems/Converting and multiplying/task-remote-info.yaml
/Problems/Creating instances/src/Main.java
/Problems/Creating instances/task.html
/Problems/Creating instances/task-info.yaml
/Problems/Creating instances/task-remote-info.yaml
/Problems/Fixing the main method/src/Main.java
/Problems/Fixing the main method/task.html
/Problems/Fixing the main method/task-info.yaml
/Problems/Fixing the main method/task-remote-info.yaml
/Problems/Fixing the main method (1)/src/Main.java
/Problems/Fixing the main method (1)/task.html
/Problems/Fixing the main method (1)/task-info.yaml
/Problems/Fixing the main method (1)/task-remote-info.yaml
/Problems/Getting the fullname/out/production/classes/User.class
/Problems/Getting the fullname/src/Main.java
/Problems/Getting the fullname/task.html
/Problems/Getting the fullname/task-info.yaml
/Problems/Getting the fullname/task-remote-info.yaml
/Problems/Inverse boolean flags/src/Main.java
/Problems/Inverse boolean flags/task.html
/Problems/Inverse boolean flags/task-info.yaml
/Problems/Inverse boolean flags/task-remote-info.yaml
/Problems/Parameters and their values/src/Main.java
/Problems/Parameters and their values/task.html
/Problems/Parameters and their values/task-info.yaml
/Problems/Parameters and their values/task-remote-info.yaml
/Problems/Parse url/out/production/classes/Main.class
/Problems/Parse url/src/Main.java
/Problems/Parse url/task.html
/Problems/Parse url/task-info.yaml
/Problems/Parse url/task-remote-info.yaml
/Problems/Preparing full name/out/production/classes/Main.class
/Problems/Preparing full name/src/Main.java
/Problems/Preparing full name/task.html
/Problems/Preparing full name/task-info.yaml
/Problems/Preparing full name/task-remote-info.yaml
/Problems/Print  Hello, Java!/src/Main.java
/Problems/Print  Hello, Java!/task.html
/Problems/Print  Hello, Java!/task-info.yaml
/Problems/Print  Hello, Java!/task-remote-info.yaml
/Problems/Sorting arrays/src/Main.java
/Problems/Sorting arrays/task.html
/Problems/Sorting arrays/task-info.yaml
/Problems/Sorting arrays/task-remote-info.yaml
/Problems/String to double conversion/src/Main.java
/Problems/String to double conversion/task.html
/Problems/String to double conversion/task-info.yaml
/Problems/String to double conversion/task-remote-info.yaml
/Problems/The lucky ticket/src/Main.java
/Problems/The lucky ticket/task.html
/Problems/The lucky ticket/task-info.yaml
/Problems/The lucky ticket/task-remote-info.yaml
/Problems/The percentage of G and C characters/out/production/classes/Main.class
/Problems/The percentage of G and C characters/src/Main.java
/Problems/The percentage of G and C characters/task.html
/Problems/The percentage of G and C characters/task-info.yaml
/Problems/The percentage of G and C characters/task-remote-info.yaml
/Problems/lesson-info.yaml
